@import url(https://fonts.googleapis.com/css?family=Montserrat);
body,html{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.hero-nav{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    min-height: 200px;
    background-image: url("https://chitravali.com/image/catalog/Original%20Calendar%20Artworks_10/Hindu_10B/hindu%20religious/10B(41).JPG");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    .hero-nav__inner{
        z-index: 1;
    }
    h1{
        color: #efefef;
        font-size: 5vw;
    }
    &:before{
        content: "";
        background: rgba(#000, 0);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: background 400ms;
    }
    &.fixme{
        &:before{
            background: rgba(#000, 0.8);
        }
    }
}
.page-content{
    width: 100em;
    margin: 0 auto;
    line-height: 1.625;
}
