
*{
    margin:0;
    padding:0%;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 25px;
    background-color: rgb(242, 246, 249);
}

.container {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-around;
    font-weight:bolder;
    margin-top: 5px;
    position: fixed;
    top: 0;
    background-color: #fff; 
    z-index: 1000; 
   
    
}
a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
#space{
    width:55%;
    
    margin-top: 150px;
    margin-left: 110px;
    height:500px;
    display: inline-block;
    
}
.para{
    font-size: 20px;
    color: #86654b;
}
#mission{
    font-size: 20px;
    font-weight: bolder;
    color: #86654b;
}
.parai{
    font-size: 25px;
    color: #86654b;
}
#in{
    display: inline-block;
    width: 100px;
    height:400px;
}
 .image{
    width: 450px;
    height: 400px;
    float: right;
    margin-top: 150px;
    margin-right: 100px;

} 

