
*{
    margin:0;
    padding:0%;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 25px;
    background-color: rgb(242, 246, 249);
}

.container {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-around;
    font-weight:bolder;
    margin-top: 5px;
    position: fixed;
    top: 0;
    background-color: #cab5a3;
    z-index: 1000; 
   
    
}
body{
    background-color: #cab5a3;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
#contact{
    font-size: larger;
    margin-top:100px ;
    margin-left: 95px;
    font-weight: bolder;
}
textarea {
    width: 400px;
    height: 140px;
    resize: none;
    padding: 5px 20px;
    
  }
  input {
    width: 400px; 
    height: 30px; 
    padding: 5px 20px;
    

  }
  #space{
    height: 257px;
    width:443px;
    background-color: black;
    margin-top: 40px;
    margin-left: 90px;
    background-color: #cab5a3;
    display: inline-block;
  }
  .input1{
    margin-top: 5px;
  }
  img{
    float: right;
    width: 570px;
    height: 320px;
    margin-right: 400px;
    margin-top: 30px;
  }
 
  .input2{
    width: 100px;
    height: 50px;
    margin-top: 5px;
    margin-left: 90px;
    color: white;
    background-color: black;
  }
  .input2:active{
    background-color:blue;
  }