.diagonal-bg{
	position: fixed;
	top: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
    color: rgb(255, 157, 0);;

}

body{
	background: #fff;
	color: #222;
	height: 100%;
	font-family: "Times New Roman", serif;
    font-size: 16px;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
}
h1,h2,h3,h4{
	font-family: 'Playfair Display', serif;
}
h1{
	font-size: 4rem;
	line-height: 1.25;
	text-transform: uppercase;
}
p{
	margin-top: 0;
	margin-bottom: 2em;
}
main{
	width: 70%;
	margin: 5em auto;
	@media(min-width: 400px){
		width: 65%;
	}
	@media(min-width: 600px){
		width: 50%;
	}
	h1{
		text-align: center;
	}
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 10px;
}
.gallery-item {
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
    width: 100%;
	
    height: 100%;
    display: block;
}
