@import 'https://fonts.googleapis.com/css?family=Sintony';
*{
  box-sizing: border-box;
}

body{
  background: #222;
  padding:0;
  margin:0;
  font-family: "Sintony", sans-serif;
  font-weight:300;
  font-size:13px;
  text-transform:uppercase;
  color:#000;
}

header{
  background-color:#fff;
  padding:0;
  margin:0;
}

.section{
  text-align:center;
  position:absolute;
  width:100%;
  height:100%;
  letter-spacong:4px;
  overflow: hidden;
  clip: rect(0,auto,auto,0);
}

.section .fixed{
  overflow:hidden;
  position: fixed;
  top:50%;
  left:50%;
}

.section .white{
  color:#fff;
}

.section:nth-child(1){
  background-color: #fff;
  color: #000;
  top:0;
  z-index: 1;
}

.section:nth-child(1) .fixed{
  transform: translate(-50%,-50%);
}

.section:nth-child(2) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  background-color: #c2850a;
  color: #fff;
  top: 100vh;
  z-index: 2;
}
.section:nth-child(2) .fixed {
  transform: translate(-50%, -50%);
}

.section:nth-child(3) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  background-color: #0a0ac2;
  color: #fff;
  top: 200vh;
  z-index: 3;
}
.section:nth-child(3) .fixed {
  transform: translate(-50%, -50%);
}

.section:nth-child(4) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  background-color: #85c20a;
  color: #fff;
  top: 300vh;
  z-index: 4;
}
.section:nth-child(4) .fixed {
  transform: translate(-50%, -50%);
}

.section:nth-child(5) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  background-color: #850ac2;
  color: #fff;
  top: 400vh;
  z-index: 5;
}
.section:nth-child(5) .fixed {
  transform: translate(-50%, -50%);
}

.section:nth-child(6) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  background-color: #0ac20a;
  color: #fff;
  top: 500vh;
  z-index: 6;
}
.section:nth-child(6) .fixed {
  transform: translate(-50%, -50%);
}

.section:nth-child(7) {
  box-shadow: inset 0 1px 80px rgba(0, 0, 0, 0.14);
  background-color: #c20a85;
  color: #fff;
  top: 600vh;
  z-index: 7;
}
.section:nth-child(7) .fixed {
  transform: translate(-50%, -50%);
}

.oop {
  position: relative;
  z-index: auto;
  height: 10px;
  background: linear-gradient(141deg, #48ded4 0%, #a026bf 51%, #e82c75 75%);
}
