{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RathYatra</title>
    <link rel="stylesheet" href="{% static 'css/AthidiDevoBava.css'%}">
</head>
<body>
    <h1 id="heading">
        "Athithi Devo Bhava" </h1>
    <div id="container">
            <p id="para1">
               
     "Athithi Devo Bhava" is a Sanskrit phrase that translates to "The guest is equivalent to God." It is a principle deeply rooted in Indian culture and hospitality. The concept emphasizes the importance of treating guests with utmost respect, warmth, and generosity. In Indian households, guests are traditionally welcomed and treated with great honor and hospitality, regardless of their social status or relationship with the host. This principle reflects the values of compassion, kindness, and inclusivity that are integral to Indian cultural ethos. It underscores the idea that serving and honoring guests is not just a duty but also a privilege and an opportunity to express one's gratitude and humanity.</p>
    </div>
    <iframe id="iframe" width="500" height="315" src="https://www.youtube.com/embed/h8ZGtaohmd0?si=Subt8O-x0Pt0D84R" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    <div id="container2">
           <h1 id="story">Story</h1>
           <p id="para2">One of the earliest mentions of this idea can be found in the Taittiriya Upanishad, one of the principal Upanishads in Hinduism. The text emphasizes the importance of hospitality and treating guests with reverence. It states, "Matridevo Bhava, Pitridevo Bhava, Acharyadevo Bhava, Athithi Devo Bhava," which translates to "Revere your mother as God, revere your father as God, revere your teacher as God, revere the guest as God."Additionally, the principle of treating guests as divine is reflected in various ancient Indian texts and epics such as the Ramayana and the Mahabharata. These epics contain numerous instances where hosts go to great lengths to honor and serve their guests, often demonstrating the ideal of hospitality.</p>
    
    </div>
    <img src="{% static 'athididevobava.jpeg' %}" alt="">
</body>
</html>