{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="{% static 'temples.css' %}">
</head>
<div class="section">
    <div class="oop"></div>
    <div class="fixed">
      <h1 class="large">Mystery behind temples</h1>
      <p>Explore, Start scrolling</p>
    </div>
  </div>
  <div class="section">
    <div class="fixed">
      <h1>Vittala temple</h1>
      <p>Vittala Temple, located in Hampi, India, is known for its architectural beauty and intricate carvings. One of its mysteries is the musical pillars that produce different musical notes when tapped. The source of this acoustic phenomenon remains unclear, baffling scientists and visitors alike. Legends suggest divine intervention or ancient engineering secrets behind the temple's unique feature. Despite numerous studies, the true explanation remains elusive, adding to the temple's allure and mystique.</p>
      <video controls>
        <source src="{% static 'vittala_temple_demo.mp4' %}" widht="300" height="300">
      </video>
    </div>
  </div>
  <div class="section">
    
    <div class="p fixed">
      <h1>Puri Jagannath Temple</h1>
     <p> Puri Jagannath Temple, a renowned Hindu pilgrimage site in Odisha, India, is shrouded in mystery. The temple's main deity, Lord Jagannath, is carved from a single block of wood and replaced every 12 or 19 years during a sacred ritual known as Nabakalebara. The selection process for the new idols is veiled in secrecy, with only a select few priests involved. Legends and rituals surrounding Nabakalebara add to the temple's enigmatic aura, captivating devotees and scholars alike. Despite modern advancements, the ancient customs and mysteries of Puri Jagannath Temple continue to fascinate and inspire awe..</p>
     <img src="https://media.assettype.com/TNIE/import/2021/10/17/original/puri_temple_eps.jpg?w=1200&h=675&auto=format%2Ccompress&fit=max&enlarge=true" width="250" height="250"/>
    </div>
  
  </div>
  <div class="section">
    <div class="p fixed"><h1>Yaganti Temple</h1>
     <p> Yaganti Temple, situated in Andhra Pradesh, India, is famous for its unique feature known as the "growing Nandi." The Nandi statue in the temple compound is said to increase in size over the years. Despite scientific explanations attributing the phenomenon to the limestone composition and environmental factors, devotees believe it to be a divine miracle. The temple also houses a mysterious chamber called the "Agastya Cave," which remains closed for most of the year and opens only on the day of Akshaya Tritiya. These mysteries, coupled with the temple's ancient architecture and spiritual significance, draw pilgrims and curious visitors from far and wide.</p>
     <video controls width="500" height="500">
        <source src="{% static 'yaganti_temple.mp4' %}" >
      </video> 
    </div>
  </div>
  <div class="section">
    <div class="p fixed">
      <h1>Konark Temple</h1>
     <p> 
  The Konark Sun Temple, located in Odisha, India, is renowned for its architectural grandeur and mysterious design. Dedicated to the Sun God Surya, the temple's main structure is shaped like a colossal chariot with intricate carvings and sculptures. One of its mysteries lies in the fact that the temple was designed to align with the rising and setting sun during specific times of the year. The temple also has several hidden chambers and passageways whose purpose remains unknown, fueling speculation about their use in ancient rituals or astronomical observations. Despite centuries of study, the true purpose behind these features continues to elude scholars, adding to the temple's allure and mystique.
    .</p>
     <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/Konarka_Temple.jpg/1200px-Konarka_Temple.jpg" width="250" height="250"/></div>
  </div>
  <div class="section">
    <div class="p fixed"> <h1>Brihadeeswara Temple</h1>
     <p> The Brihadeeswara Temple, located in Thanjavur, Tamil Nadu, India, is an architectural marvel dedicated to Lord Shiva. Its towering vimana (tower) is carved from a single piece of granite and remains a mystery as to how it was transported and assembled centuries ago. The temple's shadow never falls on the ground at noon, a feat attributed to its unique architecture and alignment with celestial bodies. Intricate carvings and inscriptions on the temple walls hold secrets of ancient Tamil culture and religious practices, yet some remain undeciphered. Despite modern advancements, the engineering and spiritual mysteries of Brihadeeswara Temple continue to captivate scholars and visitors alike..</p>
     <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/17/6a/e5/a7/thanjavur-brihadeeshwara.jpg?w=1200&h=1200&s=1" width="250" height="250"/></div>
  </div>
  <div class="section">
    <div class="p fixed"> <h1>Lepakshi Temple</h1>
     <p>The Lepakshi Temple, located in Andhra Pradesh, India, is renowned for its stunning architecture and captivating sculptures. One of its mysteries is the hanging pillar, which appears to defy gravity by standing partially detached from the ceiling. Legend has it that an angry craftsman intentionally created this anomaly to protest against the temple's completion. Additionally, the temple's intricate carvings include depictions of advanced technological and scientific concepts, puzzling historians and archaeologists. Despite centuries of study, the true origins and meanings behind these enigmatic features continue to elude experts, adding to the temple's allure and mystique.</p>
       <img src="https://static.toiimg.com/thumb/msid-51598992,width=1200,height=900/51598992.jpg" width="250" height="250"/>
     </div>
  </div>
  